.health-tracker {
    display: flex;
    margin-top: -50px;
  }
  
  .left-panel {
    flex: 1;
    background-color: #18171A;
    padding: 10px;
    
  }
  
  .right-panel {
    flex: 1;
    background-color: #18171A;
    padding: 10px;
  }
  