
.carousel {
    position: relative;
    width: 600px;
    height: 280px;
    overflow: hidden;
    margin: 0 auto;
    align-items: flex-end;
    background-color: #00FFF0;

  }

  .TransformHeading {
    color: white;
    font-size: 38px;
    font-family: Lato;
    font-weight: 600;
    line-height: 24px;
    margin-left: 50px;
    letter-spacing: 0.46px;
    margin-bottom: 20px;
  }
  
  
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-info {
    position: absolute;
    bottom: 0rem;
    left: 0;
    background-color: #00FFF0;
    color: #000000;
    padding: 1rem;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    text-align: center;
  }
  
  .carousel-info h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-family: Outfit;
  }
  .carousel-info p {
    font-family: Outfit;
    
  }
  
  .carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added */
    width: 100%; /* Added */
    padding: 0 1rem; /* Added */
  }
  
  .carousel-nav button {
    border: none;
    background: transparent;
    color: #00FFF0;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
  }
  
  .carousel-nav button:hover {
    color: #17dec0;
  }
  

  
  .carousel-nav .prev:before {
    transform: rotate(-45deg);
    margin-bottom: 2px;
  }
  
  .carousel-nav .next:before {
    transform: rotate(45deg); /* Modified */
    margin-top: 0; /* Modified */
  }
  